% rebase('splosna_naloga.html')
<p class="vecje-besedilo">
Dobrodošli v integratorju, interaktivnem pomočniku pri učenju integriranja.
Aplikacija pred vami ima 20 vnaprej določenih nalog, ko pa s temi končate, vam ponudi tudi naključno generirane vaje.
<br>
Cilj posamične naloge je, da napišete izraz v spremenljivki \( x \), odvod katerega čim bolje aproksimira podano funkcijo.
Pri tem lahko uporabljate običajne operacije seštevanja, odštevanja, množenja, deljenja in potenciranja, 
za katere uporabljajte simbole +, -, *, / in ^. Izraz lahko vsebuje tudi števila; če pišete v decimalnem zapisu, 
uporabljajte decimalno piko. Nenazadnje sta na voljo še konstanti \( e \) in \( \pi \) (pisano <i>pi</i>).
<br>
Začnimo preprosto.
</p>
