% rebase('base.html')

% if prejsnje_oddaje:
    <div class="row">
        <div class="col s8 offset-s2">
            <div class="card">
                <div class="card-content">
                    To nalogo ste že reševali.
                </div>
                <div class="card-action">
                    <a href="/pregled-oddaj/{{ naloga.zaporedna_stevilka }}/">Pregled oddaj</a>
                    % if gumb_za_nadaljevanje:
                    <a href="/naloga/{{ int(naloga.zaporedna_stevilka)+1 }}/">Naslednja naloga</a>
                    <a href="/lestvica/{{ naloga.zaporedna_stevilka }}/">Lestvica</a>
                    % end
                </div>
            </div>
        </div>
    </div>
% end

<div class="row">
    
    <div class="col s10 offset-s1">

        % if napaka:
        <div class="row">
            <div class="card red">
                <div class="card-content">
                    {{ napaka }}
                </div>
            </div>
        </div>
        % end

        {{!base}}

        <p class="vecje-besedilo">
            Dana je funkcija
            $$f'(x) = {{ naloga.odvedena_funkcija.niz_latex }}$$
        </p>

        <p>
            % include('_graf.html', id_funkcije=naloga.odvedena_funkcija._id)
        </p>
        
        <form method="post">
            <div class="row vecje-besedilo">
                Zapišite predpis za \( f(x) \)
                <div class="col s12">
                    <div class="input-field">
                        <input id="funkcija" name="funkcija" type="text">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="right">
                    <button class="btn waves-effect waves-light brown" type="submit" name="action">
                        Pošlji
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>

</div>